body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a4e6a1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #e8ffcc;
  border-radius: 10px;
  padding: 30px;
  width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.task-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-controls input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-task-btn {
  background-color: #007bff;
  color: white;
}

#clear-tasks-btn {
  background-color: rgba(0, 255, 255, 0.988);
  color: white;
}

.button-section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
}

.search-section input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#clear-search-btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
